@model BrunaPhotographSystem.DomainModel.Entities.Foto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link href="~/css/reset.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/css/Responsivo.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./path/to/dropzone.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create</title>
</head>
<body>
    <div class="container">
        <p class="ml-4 display-1 text-light mx-auto"><strong>Foto</strong></p>
        <hr />

        <div class="col-md-6">
            <form style="color:white;" asp-action="CadastrarNovo" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label class="control-label">Album</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label asp-for="Album.Id" class="input-group-text" for="inputGroupSelect01">Album</label>
                        </div>
                        <select asp-for="Album.Id" class="custom-select" id="inputGroupSelect01">
                            <option selected>Escolha um album...</option>
                            @foreach (var album in ViewBag.albuns)
                            {
                                <option value=@album.Id>@album.Nome</option>
                            }
                        </select>
                        <span asp-validation-for="Album.Id" class="text-danger"></span>
                    </div>


                </div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <label class="control-label">Imagem</label>
                <div class="form-group custom-file">

                    <input type="file" asp-for="FotoUrl" name="imagem" class="custom-file-input" id="validatedCustomFile" required>
                    <label asp-for="FotoUrl" class="custom-file-label " for="validatedCustomFile">Escolha a Foto...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>




                <div class="mt-3 form-group">
                    <a asp-action="Index" class="btn btn-outline-info btn-sm">Voltar a Lista</a>
                    <input type="submit" value="Criar" class="btn btn-outline-primary btn-sm" />
                </div>
            </form>
        </div>


    </div>
</body>
</html>
