<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Mãe Coruja</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Germania+One|Indie+Flower" rel="stylesheet">
    <!--<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />-->

</head>
<body>

    <main>

        <h1 class="titulo_principal1">Mãe de 3</h1>

        <!--<div class="container">
    <p>Sou uma fotografa, mãe de 3 filhos, os quais amo muito.</p>

    <h2>Fotografia</h2>

    <h3>Ambiente Externo</h3>
    <blockquote class="testetransform">
        <p>Muito praticado pois une a beleza do local, favorecendo o objeto ou pessoa em foco.</p>
    </blockquote>
    <h3>Ambiente Interno</h3>
    <blockquote class="testetransform1">
        <p>Fotografia em ambiente controlado, com iluminação controlada, refrigerado, entre outros.</p>
    </blockquote>
        </div>-->

    </main>
    <aside>
        <img class="imagem" src="~/images/foto2.jpg" alt="Foto de Familia da Bruna" />
        <nav>
            <h1>Bruna Tahita</h1>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>
        <nav class="icones-redes-sociais">
            <ul>
                <li>
                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100010378322794">Facebook</a>
                </li>
            </ul>
        </nav>
    </aside>
    <section class="secao-inicio trabalhos">
        <h2>Trabalhos</h2>
        <ul>
            <li><img id="imagem-hover1" src="~/images/Trabalho1.jpg" alt="Primeiro exemplo de trabalho"></li>
            <li><img id="imagem-hover2" src="~/images/Trabalho2.jpg" alt="Segundo exemplo de trabalho"></li>
            <li><img id="imagem-hover3" src="~/images/Trabalho3.jpg" alt="Terceiro exemplo de trabalho"></li>
        </ul>
    </section>
    <footer>
        &copy; <strong>Bruna Tahita Mesquita Victor</strong>
    </footer>

</body>
</html>
