@model BrunaPhotographSystem.DomainModel.Entities.Album

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link href="~/css/reset.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/css/Responsivo.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/dropzone/dropzone.css">
    <script type="text/javascript" src="~/js/dropzone/dropzone.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <p class="ml-4 display-1 text-light mx-auto"><strong>Álbum</strong></p>
        <hr />

        <div class="col-md-6">
            <form style="color:white;" asp-action="CadastrarNovo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label class="control-label">Cliente</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label asp-for="Cliente.Id" class="input-group-text" for="inputGroupSelect01">Cliente</label>
                        </div>
                        <select asp-for="Cliente.Id" class="custom-select" id="inputGroupSelect01">
                            <option selected>Escolha um album...</option>
                            @foreach (var cliente in ViewBag.clientes)
                            {
                                <option value=@cliente.Id>@cliente.Nome</option>
                            }
                        </select>
                        <span asp-validation-for="Cliente.Id" class="text-danger"></span>
                    </div>


                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index" id="btnVoltarLista" class="btn btn-outline-info btn-sm">Voltar a Lista</a>
                    <input type="submit" value="Criar" class="btn btn-outline-primary btn-sm" />
                </div>

            </form>
            <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle btn-block btn-lg" type="button" id="BtnFotos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p><small><strong>Quer se adiantar?</strong></br>Inclua as imagens clicando aqui!</small></p>
                </button>

                <div class="dropdown-menu" aria-labelledby="BtnFotos">
                    <div id="dropzone">
                        <form class="dropzone needsclick dz-clickable px-100 py-100" method="post" action="AdicionarFotoDropZone">
                            <div class="dz-message needsclick">
                                <strong>
                                    Adicionar Fotos:
                                </strong><br>
                                <span class="note needsclick">(Arraste as imagens para este campo, as imagens serão adicionadas sem nome e descrição.)</span>
                            </div>
                            <input type="hidden" asp-for="Id" value="@Model.Id" name="id" />
                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div></br></br></br></br></br></br></br></br></br></br></br></br></div>
    </div>

</body>
</html>
